{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{{ post.title }}</h1>
        <small> | create : {{ post.created_date|date:'Y-m-d H:i' }} </small>
    </div>
    <p>{{post.text}}</p>
    <br>
    <hr class="d-sm-none">
    {% if user.is_authenticated %}
        <a class="btn btn-lg" href="{% url 'blog:blog_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-lg" href="{% url 'blog:blog_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}
    <a class="btn btn-lg" href="{% url 'blog:blog_image' pk=post.pk %}"><span class="glyphicon glyphicon-zoom-in"></span></a>
</div>
{% endblock %}