{% extends 'blog/base.html' %}
{% load staticfiles %}

<!--{% block extrastyle %}{% static "css/canvas.css" %}{% endblock %}-->
{% block content %}
<div id="heremyCanvas">
    <div class="childHeremy">
        <p class="canvasTop">My Canvas</p>
        <div class="canvasItem">
            <canvas id="myCanvas" width="700" height="520"></canvas>
            <div class="canvasBtn">
                <p id="Eraser" class="myBtn btn">Eraser</p>
                <p id="delAll" class="myBtn btn">Delete</p>
            </div>
            <div id="brushBtndiv">
                <span>Brush Size</span>
                <div id="brushBtn">
                    <ul>
                        <li class="btnn btn" value="1">1</li>
                        <li class="btnn btn" value="3">2</li>
                        <li class="btnn btn" value="6">3</li>
                        <li class="btnn btn" value="10">4</li>
                    </ul>
                    <ul>
                        <li class="btnn btn" value="15">5</li>
                        <li class="btnn btn" value="20">6</li>
                        <li class="btnn btn" value="25">7</li>
                        <li class="btnn btn" value="30">8</li>
                    </ul>
                </div>
            </div>
            <div id="brushColor">
                <span>Brush Color</span>
                <div id="thisC"><span>#000000</span></div>
                <div class="colorful">
                    <p id="Redc">Red</p>
                    <input type="range" id="cRed" class="cRed" min="0" max="255" value="0">
                </div>
                <div class="colorful">
                    <p id="Greenc">Green</p>
                    <input type="range" id="cGreen" class="cGreen" min="0" max="255" value="0">
                </div>
                <div class="colorful">
                    <p id="Bluec">Blue</p>
                    <input type="range" id="cBlue" class="cBlue" min="0" max="255" value="0">
                </div>
            </div>
            <div id="eText">
                <p>이미지 저장: 우클릭</p>
                <p>다른 이름으로 저장</p>
            </div>
        </div>
    </div>
</div>
    <div >
        <div class="canvasText">
            <div class="explClock">
                <p class="explP"><strong>사용법</strong></p>
                <div id="explText">
                    <p><strong>1. 캔버스 화면에 마우스를 클릭 후 움직이면 선이 그려집니다.</strong></p>
                    <p><strong>2. Eraser 버튼 클릭 시 자동으로 #fff 색으로 변경, 지우개로써 활용할 수 있습니다.</strong></p>
                    <p><strong>3. Delete 버튼 클릭 시 화면이 초기화됩니다.</strong></p>
                    <p><strong>4. BrushSize의 1~8 버튼 클릭 시 각각의 브러시 사이즈로 변경됩니다.</strong></p>
                    <p><strong>5. Brush Color의 Red, Green, Blue의 값 변경 시 브러시 색상 또한 변경됩니다.</strong></p>
                    <p><strong>6. 이미지는 그림을 그린 캔버스의 우 클릭 후 다른 이름으로 저장을 이용합니다.</strong></p>
                    <div class="hardText">
                        <button type="button" class="btn" data-toggle="collapse" data-target="#innerHard">진행하며 어려웠던 점</button>
                        <div id="innerHard" class="collapse">
                            <p class="innerP firP">가장 진행하면서 어려웠던 점은 뭐니뭐니해도 선을 긋는 것이었습니다.
                                처음엔 W3shcools의 게임 예제를 진행했던 것을 바탕으로 캔버스를 만들어 보려 했었는데 선을 빠르게 그리지 않으면 다 점으로써 띄어 나오는 것 때문에 한참을 고민했습니다.
                                선생님께서 무브투로써 캔버스에 선을 긋는 것에 대한 힌트를 주셔서 한참을 고민하고 또 해보다 결국 구글링을 통해 또 힌트를 얻어 진행할 수 있었습니다.
                            </p>

                            <p class="innerP">
                                게다가 색상을 바꿀 때 헥사에서 rgb로, rgb에서 헥사로 가는 것이 생각보다 복잡해 한참을 또 헤맸었습니다.
                                이를 변경하는 데엔 제가 알지못했던 새로운 방식과 기존의 제가 알던 것들이 조합되어야 했고, 여태 내가 알지 못하는 것들이 너무 많다는 생각이 들었습니다.
                                종합적으로 기본적으로 배운 내용에서 응용해 나가는 게 더욱 어렵다는 걸 깨달았습니다.
                            </p>

                            <p class="innerP lasP">-2018.08.31</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/canvas.js' %}"></script>
{% endblock %}
