{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block extrastyle %}{% static "css/edit.css" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h1>New Post</h1>
    </div>
    <form method="post" class="post-form">
        {% csrf_token %}
        <div class="container">
            <p class="postText"><strong>Title:</strong></p>
            {{ form.title }}
            <p class="postText"><strong>Author:</strong></p>
            {{ form.author }}
            <p class="postText"><strong>Text:</strong></p>
            {{ form.text }}
            <button class="btn save" type="submit"><strong>Save</strong></button>
        </div>
    </form>
</div>
{% endblock %}