body * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Nanum Gothic';
}
.navbar {
    display:inline-block;
}
.top-login {
    display:inline-block; margin-top: 14px;
}
.navbar-header {
    display:inline-block;
    float:right;
}
.navbar-toggle {
    margin-top: 14px;
}
.header {
    padding-top: 85px;
    padding-bottom: 25px;
    margin-bottom : 13px;
    font-family: 'Gugi';
}
