.pal{
    margin-bottom: 10px;
    min-width: 200px;
    width: 100%;
    height: auto;
}
.pal2{
    margin-bottom: 40px;
    min-width: 200px;
    width: 100%;
    height: auto;
}
.panel-heading{
    background-color: #F8F8F8;
}
.hhead{
    padding-left: 5px;
}
.hbody{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 6px;
}
.pbody{
    padding-top: 10px;
    padding-bottom: 20px;
}
.momP{
    margin-top: 5px
}
.childP{
    margin:0;
    padding-left: 7px;
    padding-bottom: 5px;
}
.bimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    min-width: 300px;
    border-radius: 4px;
}
table thead th {
    text-align: center;
}
.postText{
    text-align:right;
    display:flax;
    padding: 10px;
    padding-left: 30px;
    padding-bottom:0;
    padding-right: 25px;
    margin:0;
}
.idTh {
    width: 30px;
}
.dateTh {
    width: 120px;
}
.writerTh {
    width: 20px;
}
.tdText {
    text-align: center;
}
.plus-post {
    text-align: right;
    padding-right: 30px;
}
.tdTitle {
    padding-left: 20px;
}
.updateH{
    margin:2px; font-size: 16px; text-align: center;
}