.imgZoom {
    font-size: 2em;
    display:flax;
    padding: 10px;
    padding-left: 30px;
    padding-bottom:0;
    margin:0;
}
.childText {
    padding:30px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom:5px;
}
#totalImg {
    margin: 0;
    width: 100%;
    height: auto;
    margin-left:30px;
    padding-left: 20px;
    padding-right: 30px;
    display:inline-block;
    justify-content: center;
}
.inputLabel{
    margin: 10px;
    margin-top: 20px;
    padding: .5em .75em;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    color: #d9d9d9;
    background-color: #1c171a;
}
input[type="file"]{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
#thisImg{
    display:inline-block;
    float:left;
    margin:10px;
}
.zoomBox{
    text-align:center;
}
#imgCanvas{
    margin: 10px;
    margin-bottom:0;
}
#coordi{
    margin-top: 15px;
    font-size: 26px;
}

.imageText{
    display: flex;
    position: relative;
    background-color: #fff;
    justify-content: center;
    margin:10px;
    width: 100%;
}
.explImage{
    border: 2px solid #EEEEEE;
    border-radius: 4px;
    padding: 20px;
    height: 300px;
    width: 700px;
    overflow:auto;
    margin: 20px;
}
.explP{
    padding-top: 20px;
    font-size:20px;
}
.inexplText{
    padding-left: 20px;
}
.explText{
    padding-left: 20px;
}
.hardText{
    margin-top: 40px;
}
.innerP{
    padding:13px;
}
.firP{
    padding-bottom: 0;
    padding-top:26px;
}
.lasP{
    padding-bottom: 26px;
}
